<!DOCTYPE html>
<html>
<head>
	<title>Deepansh's Store</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		body{
			background-color: #4682B4;
		}
		h1{
			padding: auto;
			text-align: center;
			color: white;
			font-weight: normal;
			padding-top: 150px;
			font-size: 75px;
		}
		/*button{
			float: left;
			color: #4682b4;
			background-color: white;
			height: 25px;
		}*/
		.yo{
			text-align: center;
		}
		.white{
			color: white;
			text-decoration: underline;
		}
		.blank{
			display: none;
		}
	</style>
</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">DEEPANSH'S STORE</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active active">
	        <a class="nav-link" href="/categories">Products <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/subCategories">SubCategories</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/subSubCategories">SubSubCategories</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/features">Features</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/requests">Requests</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/complaints">Complaints</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/newProduct">New product</a>
	      </li>
	      <li class="nav-item active active">
	        <a class="nav-link" href="/payment">Commision-Rates</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	    	
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/login">Login</a>
	    		</li>
    		
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/logout">Logout</a>
	    		</li>
	    		
    	</ul>
	  </div>
	</nav>
	<div>
		<br>
		<br>
		<div class="container">
			<form action="/request" method="POST">
			  <legend>DESCRIBE YOUR PRODUCT</legend>
			  <div class="form-group">
			    <label for="category" >Name:</label>
			    <input type="text" class="form-control" id="category" aria-describedby="emailHelp" placeholder="Name" name="category" value="<%=request.category%>">
			  </div>
			  
				  <div class="form-group" >
				    <label for="category1" >Category:</label>
				    <input type="text" class="form-control" id="category1" aria-describedby="emailHelp" placeholder="Name" name="subcategory" value="<%=request.subCategory%>">
				  </div>
			   <div class="form-group" >
				    <label for="category1" >Sub-Category:</label>
				    <input type="text" class="form-control" id="category1" aria-describedby="emailHelp" placeholder="Name" name="subsubcategory" value="<%=request.subSubCategory%>">
				</div>
				<div class="form-group" >
				    <label for="category1" >Feature:</label>
				    <input type="text" class="form-control" id="category1" aria-describedby="emailHelp" placeholder="Name" name="feature" value="<%=request.features%>">
				</div>
			    <div class="form-group" >
				    <label for="category1" >Options:</label>
				    <input type="text" class="form-control" id="category1" aria-describedby="emailHelp" placeholder="Name" name="options" value="<%=request.options%>">
				</div>
			  
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/newProducts.js"></script>
	
</body>
</html>