<!DOCTYPE html>
<html>
<head>
	<title>WebStore</title> 	<link rel="shortcut icon" href="http://www.iconarchive.com/download/i87056/graphicloads/colorful-long-shadow/Cart.ico">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		form{
			padding: 10px;
			padding-top: 50px;
		}
		body{
			color: #000000;
			background-color: #ffffff;
		}
		small{
			color: white;
			text-decoration: underline;
		}
		.blank{
			display: none;
		}
	</style>
</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/"><img style="height:25px; padding:0; margin:0" src="http://www.iconarchive.com/download/i87056/graphicloads/colorful-long-shadow/Cart.ico"> WebStore</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active ">
	        <a class="nav-link" href="/seller/sell">Sell stuff<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item ">
	        <a class="nav-link" href="/seller/complaint">Report Problem</a>
	      </li>
	      <li class="nav-item ">
	        <a class="nav-link" href="/seller/request">Request Product</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	    	
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/login">Login</a>
	    		</li>
    		
	    		<li class="nav-item ">
	      			<a class="nav-link" href="/logout">Logout</a>
	    		</li>
	    		
    	</ul>
	  </div>
	</nav>
	<div>
		<div class="container">
			<form action="/step2" method="POST">
			  <legend>DESCRIBE YOUR PRODUCT</legend>
			  <div class="form-group">
			    <label for="category" >Category</label>
			    <select name="category" class="form-control" id="categorySelected">
			    		<option value="none">Pick a category!</option>
			    		<% for(var i=0;i<categories.length;i++){ %>
			    			<option value="<%=categories[i]._id%>"><%=categories[i].name %></option>
			    		<% }%>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="subcategory">Sub-category</label>
			    
			    <select name="subcategory" class="form-control" id="subcategorySelected" >
			    	<option value="none">Pick a subcategory!</option>
				    <% for(var i=0;i<categories.length;i++){ %>
					    <% for(var j=0;j<categories[i].subCategories.length;j++){%>
					    
						    <option  class="subcategorySelected <%=categories[i]._id%>" value="<%=categories[i].subCategories[j]._id%>">
						    	<%=categories[i].subCategories[j].name%>
						    </option>
						
					    <%}%>
				    <%}%>
			    </select>
			  </div>

			  <!-- <div class="form-group">
			    <label for="subSubCategory">Sub-category</label>
			    
			    <select name="subSubCategory" class="form-control" id="subSubCategorySelected" >
			    	<option >Pick a subSubCategory!</option>
				    <% for(var i=0;i<categories.length;i++){ %>
					    <% for(var j=0;j<categories[i].subCategories.length;j++){%>
					    	<% for(var k=0;k<categories[i].subCategories[j].subCategories.length;k++){%>
							    <option  class="subSubCategorySelected <%=categories[i].subCategories[j]._id%>" value="<%=categories[i].subCategories[j].subCategories[k]._id%>">
							    	<%=categories[i].subCategories[j].subCategories[k].name%>
							    </option>
							<%}%>
					    <%}%>
				    <%}%>
			    </select>
			  </div>

			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="name" placeholder="name" name="name" >
			  </div>
			  <div class="form-group">
			    <label for="price">Price(in $)</label>
			    <input type="number" class="form-control" id="price" placeholder="Price(in $)" name="price" >
			  </div>
			  <div class="form-group">
			    <label for="img" >Image(URL)</label>
			    <input type="text" class="form-control" id="img" aria-describedby="emailHelp" placeholder="Image" name="image">
			  </div>

			  <div><H2>FEATURES</H2></div>
			  	<% for(var i=0;i<categories.length;i++){ %>
				<% for(var j=0;j<categories[i].subCategories.length;j++){%>
			  	<% for(var k=0;k<categories[i].subCategories[j].length;k++){%>
			  		<% for(var p=0;p<categories[i].subCategories[j].subCategories[k].features.length;p++){ %>
			  		<div class="form-group"> -->
				  	<!-- <div class="col ffg" id="<%=categories[i].subCategories[j].name%>">
					    <label for="feature">Feature</label>
					    <input type="text" class="form-control" id="title" value="<%=categories[i].subCategories[j].subcategoryFeatures[k]%>" name="feature[]" readonly="readonly">
				    </div> 
				    
				    
				     <label for="fattu"  class="ffg <%=categories[i].subCategories[j].subCategories[k]._id %>"><%=categories[i].subCategories[j].subCategories[k].features[p].name%></label>
				    
				    <select class="form-control <%=categories[i].subCategories[j].subCategories[k]._id %> ffg" id="fattu" name="description[]">
				    	<option></option>
			    		<%for(var q=0;q<categories[i].subCategories[j].subCategories[k].features[p].options.length;q++){%>
			    			<option><%=categories[i].subCategories[j].subCategories[k].features[p].options[q]%></option>
			    		<%}%>
			    	</select>
				    <%}%>
			    <%}%>
			    <%}%>
			    <%}%>
			    	
			  </div> -->
			  <br>
			  <button type="submit" class="btn btn-primary">Submit</button>
			  </div>
		</div>
	</div>
	<script type="text/javascript" src="/js/choose.js"></script>
</body>
</html>